root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80
charset = utf-8
tab_width = 8
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
